$navyBackground: #2a2f42;
$primary:  #556ee5;

body,
{
 font-family: Poppins;
}

// ===backgrounds===
.bg-primary {
    background-color: $primary !important;
}
   
.bg-welcome {
     background-color: #d4dbf8;
}

.badge-primary {
    background-color: $primary;
}

.badge-success {
background-color: #dff5e9;
color: #33c38e;
}

.badge-danger {
background-color: #fee4e3;
color: #f46a6a;
}

.badge-warning {
    background-color: #fdf2e0;
    color: #f2b34c;
}

.badge-dark {
    background-color: #f46a6a;
    color: white;
    top: -1px;
    left: 15px;
}

.text-primary {
    color: $primary;
}

.text-nav {
    color: #9398b6;
}

.progress  {
background-color: transparent;
}

.form-control {
    font-weight: 500;
    background-color: #f4f3f9;
    border: 1px solid #f4f3f9;
    border-radius: 1.25rem;
} 

.dropdown-toggle::after {
    color: #737987;}

// ===Fonts===
h1 {
   font-size: 1rem; 
   font-weight: 600;
}

h2 {
    font-size: 13px;
    font-weight: 600;
}

h3, th, span, p, td {
    font-size: 12px; 
}

h4 {
    font-size: 8px; 
}

.number {
     font-size: 14px;
     font-weight: 600;
     margin-top: 10px;
}

.nav-link {
    font-size: 12px;
    padding: 6px;
    span {
        font-size: 12px;
        font-weight: 600;
    }
    img {
        width: 40px;
        height: 40px;
    }
    i {
        font-size: 1.7em;
    color: #6c757d !important;
    }

}

.nav-hover:hover {
        color: white;
        background-color: $primary;
        span {
            color: white;
        }
    }

a {
    &visited {
        text-decoration: none;
    }
    h3 {
        color: black;
    }
    h3:hover {
        text-decoration: none;
    }
}

// ===Paddings, margins and positioning ===

.form-check-input {
   position: static;
}

.form-group {
    position: relative;
   input {
   padding-left: 20px;
   }
    i {
        left: 8px;
        position: absolute;
    }
}


// ===Content Design===
.side-bar {
 background-color: $navyBackground;
}

.logo {
    width: 20px;
}

.social-space {
    flex: 1 1 30%;
}

// == sections design here ==
.welcome-top {
    padding-bottom: 30px;
    color: $primary;
    background-image: url(images/profile-img.png);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #d4dbf8;
    div h1 {
        padding-top: 10px;
    }
}

.user {
    img {
        position: absolute;
        transform: translateY(-20px);
        width: 60px;
        height: 60px;
    }
    h2 {
        margin-top: 50px;
    }
}

.monthly-box {
 a {
    margin-bottom: 150px !important;
}
@media (min-width: 768px) {
    a {
        margin-bottom: 5px !important;
    }
}
}

.tw-box {
background-color: #4fa5f0;
}

.insta-box {
    background-color: #e93e8c;
}

.dashed-i::after {
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    border-left: 3px dashed rgba(118, 123, 129, 0.1); 
    position: absolute;
    transform: translateX(7px);
    z-index: 1;
}

// == media queries here ==

@media (min-width: 992px) {
    // .header-container {
    //     width: 100% !important;
    //     padding-right: 15px !important;
    //     padding-left: 15px !important;
    //     margin-right: auto !important;
    //     margin-left: auto !important;
    // }
    .space-container {
    .space {
        flex: 0 0 95%;
        max-width: 95%;
    }
 .container .container-nav {
     margin: 0;
 }
}
}

@media (min-width: 768px) {
    .table-sm th,
    .table-sm td {
        padding: 0.75rem !important;
    }
 }


 .social-space:nth-of-type(2) {
    @media (min-width: 992px) {
      margin: 0 5%;  
     }
 }
